<div ng-show="!questions.length" style="text-align: center">
    <img src="../images/app-loader.gif" alt="">
</div>
<div ng-show="questions.length">
    <div class="add_question_container">
        <div ng-show="showAddButton">
            <button type="submit" class="add_question_button" ng-click="showAddButton = !showAddButton">Add Question</button>
        </div>
        <div ng-show="!showAddButton" >
            <textarea name="" id=""  class="add_question_textarea" rows="10" ng-model="questionInput"></textarea>
            <div>
                <button type="submit" class="cancel_question_button" ng-click="showAddButton = !showAddButton">Cancel</button>
                <button type="submit" class="add_question_button" ng-click="addQuestion(questionInput)">Add Question</button>
            </div>
        </div>
    </div>
    <div ng-repeat="question in questions" class="question_parent_container">
        
        <div class="question_container">
            <div class="question_meta">
                <div>
                    <i class="fa fa-angle-up" aria-hidden="true" ng-click="upvote(question)"></i>
                </div> 
                <div ng-bind="question.votes"></div>
                <div>
                    <i class="fa fa-angle-down" aria-hidden="true" ng-click="downvote(question)"></i>
                </div> 
            </div>
            <div class="question_text" ng-bind-html="question.Text | unsafe" ng-click="openDetails(question.Id)"></div>
        </div>
        <div class="answer_container" ng-repeat="answer in answers | orderBy : 'created_at' : true | filterAnswerArray : question.Id">
            <div class="answer_meta">
                <div>
                    <i class="fa fa-angle-up" aria-hidden="true" ng-click="upvote(answer)"></i>
                </div>
                <div ng-bind="answer.votes"></div>
                <div>
                    <i class="fa fa-angle-down" aria-hidden="true" ng-click="downvote(answer)"></i>
                </div>

            </div>
            <div ng-bind-html="answer.Answer | unsafe" class="answer_text"></div>
        </div>
    </div>
</div>

