<div ng-repeat="question in questions" class="question_parent_container">
    <div class="question_container">
        <div class="question_meta">
            <div>
                <i class="fa fa-angle-up" aria-hidden="true" ng-click="upvote(question)"></i>
            </div> 
            <div ng-bind="question.votes"></div>
            <div>
                <i class="fa fa-angle-down" aria-hidden="true" ng-click="downvote(question)"></i>
            </div> 
        </div>
        <div class="question_text" ng-bind-html="question.Text | unsafe" ng-click="openDetails(question.Id)"></div>
    </div>
    <div class="answer_container" ng-repeat="answer in answers | orderBy : 'created_at' : true | filterAnswerArray : question.Id">
        <div class="answer_meta">
            <div>
                <i class="fa fa-angle-up" aria-hidden="true" ng-click="upvote(answer)"></i>
            </div>
            <div ng-bind="answer.votes"></div>
            <div>
                <i class="fa fa-angle-down" aria-hidden="true" ng-click="downvote(answer)"></i>
            </div>

        </div>
        <div ng-bind-html="answer.Answer | unsafe" class="answer_text"></div>
    </div>
    
</div>

